@model MASTS.Domain.ManagementEntity 

@{
    ViewBag.Title = "Admin: Edit " + @Model.Description;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.Description</h3>
    </div>

    @using (Html.BeginForm("Edit", "ManagementEntities",
                                        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="panel-body">
            @Html.HiddenFor(m => m.ManagementEntityID)
            @Html.HiddenFor(m => m.IsDeleted)
            @Html.HiddenFor(m => m.RecordAdded)
            @Html.HiddenFor(m => m.RecordAddedBy)
            @Html.HiddenFor(m => m.LastModified)
            @Html.HiddenFor(m => m.LastModifiedBy)
            @*@Html.HiddenFor(m => m.CustomFields)
                @Html.HiddenFor(m => m.ApplicationTableFields)*@

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ManagementEntityID":
                    case "IsDeleted":
                    case "RecordAdded":
                    case "RecordAddedBy":
                    case "LastModified":
                    case "LastModifiedBy":
                    case "ManagementEntityLevel":
                    case "ManagementUnits":

                        // do nothing
                        break;
                    case "CanContainManagementUnits":
                        <div class="form-group">
                            @Html.LabelFor(model => model.CanContainManagementUnits, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.CanContainManagementUnits)
                                    @Html.ValidationMessageFor(model => model.CanContainManagementUnits, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        break;
                    case "CompanyID":
                        @Html.DropDownListFor(model => Model.CompanyID, new SelectList(ViewBag.CompanyNameList), Model.CompanyID)
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }

        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>
